<h1>Register as a pet foster carer</h1>

<% form_for(@volunteer) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Personal details</legend>
	<%= f.text_field_row :first_name %>
	<%= f.text_field_row :last_name %>
  </fieldset>

  <fieldset>
    <legend>Contact details</legend>
    <p><b>We need an email address and at least one phone number we can contact you on.</b></p>
    <%= f.text_field_row :email_address %>
    <div class="clear">
      <%= f.text_field_row :mobile_phone, nil, :value => @volunteer.mobile_phone.format %>
      <%= f.text_field_row :home_phone, nil, :value => @volunteer.home_phone.format %>
      <%= f.text_field_row :work_phone, nil, :value => @volunteer.work_phone.format %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Address</legend>
    <%= f.text_field_row :address_1 %>
    <%= f.text_field_row :address_2 %>
    <%= f.text_field_row :suburb %>
    <%= f.text_field_row :postcode %>
  </fieldset>

  <fieldset>
	<legend>Assistance you can offer</legend>
	<div class="row">
    <%= f.label :can_keep_dogs, 'Number of dogs?' %>
    <%= f.select :can_keep_dogs, (0..2).to_a %>
    </div>
	<div class="row clear">
    <%= f.label :can_keep_cats, 'Number of cats?' %>
    <%= f.select :can_keep_cats, (0..2).to_a  %>
    </div>
    <div class="clear"></div>
	<%= f.text_field_row :can_keep_other, 'Other (please specify)' %>
	<div class="row clear">	
	<%= f.label :can_transport, 'Are you able to pick up the pet(s) from a designated location?' %>
	Yes <%= f.radio_button :can_transport, true %>
	No <%= f.radio_button :can_transport, false %>
	</div>
	
	<div class="row clear">
	<%= f.label :will_take_stray, 'Some of the pets will have lost their families. Are you prepared to foster a displaced (stray) pet until an adoptive home can be found?' %>
	Yes <%= f.radio_button :will_take_stray, true %>
	No <%= f.radio_button :will_take_stray, false %>
	</div>
	
	<div class="row clear">
	<%= f.label :can_administer_medical_care, 'Are you able to administer basic medical care under vet advice if required?' %>
	Yes <%= f.radio_button :can_administer_medical_care, true %>
	No <%= f.radio_button :can_administer_medical_care, false %>
	</div>
	<div class="clear">
	<%= f.text_field_row :special_skills, 'Please list any relevant experience such as vet nursing, dog training etc?' %>
    </div>
	
	<div class="row clear">
	<%= f.label :requires_financial_support, "Do you need financial support to meet the pet’s basic needs? <br/> (This will not disqualify anyone from being a foster carer)" %>
	Yes <%= f.radio_button :requires_financial_support, true %>
	No <%= f.radio_button :requires_financial_support, false %>
	</div>    
  </fieldset>

  <fieldset>
    <legend>Conditions at home</legend>

	<div class="row" style="width: 100%">
	<%= f.label :can_keep_inside_initially, 'Are you able to safely confine the foster pet(s) within your house for an initial settling in period?' %>
	Yes <%= f.radio_button :can_keep_inside_initially, true %>
	No <%= f.radio_button :can_keep_inside_initially, false %>
	</div>
	
	<div class="row clear" style="width: 100%">
    <%= f.label :can_sleep_inside_ongoing, 'Can the animal sleep inside on an ongoing basis?' %>
	Yes <%= f.radio_button :can_sleep_inside_ongoing, true %>
	No <%= f.radio_button :can_sleep_inside_ongoing, false %>
	</div>
	
	<%= f.text_field_row :how_secure, 'How dog secure is your fencing? height, picket, pailing etc.' %>
	
	<div class="row" style="width: 100%">
	<%= f.label :dog_safe_gates, 'Do you have dog safe gates?' %>
	Yes <%= f.radio_button :dog_safe_gates, true %>
	No <%= f.radio_button :dog_safe_gates, false %>
	</div>
	
	<div class="row" style="width: 100%">
	<%= f.label :hours_spent_at_home_per_day, 'How many hours a day are you generally home?' %>
	<%= f.select :hours_spent_at_home_per_day, (0..24).to_a %>
	</div>
	
	<div class="row" style="width: 100%">
	<%= f.label :children, 'How many children live at the property?' %>
	<%= f.select :children, (0..5).to_a %>
	</div>
	
	<div class="row clear" style="width: 100%">
    <%= f.label :dogs_owned, 'How many dogs live at the property?' %>
    <%= f.select :dogs_owned, (0..5).to_a %>
    </div>

	<div class="row clear" style="width: 100%">
    <%= f.label :cats_owned, 'How many cats live at the property?' %>
    <%= f.select :cats_owned, (0..5).to_a %>
    </div>

	<div class="clear"></div>

    <%= f.text_field_row :other_owned, 'Any other pets? (please specify)' %>
  </fieldset>

  <fieldset>
	<legend>Terms and Conditions</legend>
	<p>You agree to return the pet and provided equipment to the owner on the owner’s request.</p>

	<p>You agree to allow the pet owner to make regular reasonable contact with you to discuss the well being of their pet(s).</p>

	<p>You agree that if for any reason you do not wish to continue to foster the pet(s), you will immediately contact Fun4Paws and allow them to manage a suitable relocation.</p>

	<p>If for any reason you are going to be absent from the residence, Fun4Paws will need to be informed. Fun4Paws will assist in organizing appropriate care.</p>

	<p>You agree to take full responsibility for the welfare of the pet(s) whilst it is in your care, excluding vet cost. You understand that any fees arising from negligence in caring for the dog will be the sole responsibility of the foster carer.</p>

	<p>If for any number of reasons the pet becomes available for adoption, the carer will be given the first option to adopt.</p>

	<p>Children’s access to the foster pet must be supervised at all times.</p>

	<p>If you have a swimming pool or water feature it must be securely fenced for the safety of the pet.</p>
	
	<p><strong>By clicking on 'I accept' below you are agreeing to the Terms and Conditions above.</strong></p>
  <%= f.submit "I accept. Register me." %>
  </fieldset>

  <div class="clear">
  </div>

<% end %>
