<h1>Volunteer: <%=h @volunteer.first_name.capitalize %> <%=h @volunteer.last_name.capitalize %></h1>
<dl>
  <% Volunteer.viewable_fields.map do |f| %>
		<dt><%= f.humanize.capitalize %>:</dt>
		<dd><%=h @volunteer.send(f) %></dd>
  <% end %>
</dl>

<%= link_to 'Edit', edit_admin_volunteer_path(@volunteer) %> |
<%= link_to 'Back', admin_volunteers_path %>