%table
  %tr
    %th
      Id
    %th
      Name
    %th
      Suburb
    %th
      Postcode
    %th
      Dog
    %th
      Cat
    %th
      Other
    %th
      Skills
  - for carer in @carers
  %tr
    %td
      = h carer.id
    %td
      = link_to h("#{carer.first_name} #{carer.last_name}"), carer
    %td
      = h carer.suburb
    %td
      = h carer.postcode
    %td
      = h carer.can_keep_dogs
    %td
      = h carer.can_keep_cats
    %td
      = h carer.can_keep_other
    %td
      = h carer.special_skills
    %td
      = link_to 'Destroy', carer, :confirm => 'Are you sure?', :method => :delete if params[:d]
