%h1= "Listing carers (#{@carer_count} in total)"

  = link_to 'download csv file', '/carers.csv'
  = link_to 'view all on map', '/carers/map'
  = will_paginate @carers, :class => 'apple_pagination'
  = render :partial => 'carers'
  = will_paginate @carers, :class => 'apple_pagination'
  = link_to 'New carer', new_carer_path
