.animal
  - form_for([:admin, @animal], :html => { :multipart => true }) do |f|
    .details
  
      = f.error_messages

      .row.clear
        = f.label :kind   
        = f.select :kind, Animal::KINDS
    
      .row.clear
        = f.label :name
        = f.text_field :name
    
      .row.clear
        = f.label :identifier
        = f.text_field :identifier
 
      .row.clear
        = f.label :description   
        = f.text_area :description

    .photo{:style=>'padding: 30px'}
      = image_tag @animal.image.url(:medium)
      
      = f.label :image
      = f.file_field :image
      
    .row.clear 
      = f.submit 'Update'