- form_for([:admin, @animal], :html => { :multipart => true }) do |f| 
  .details
    = f.error_messages

    %p.row
      = f.label :animal_kind_id   
      = f.select :animal_kind_id, AnimalKind.all.collect {|k| [ k.name, k.id ] }
  
    %p.row
      = f.label :name
      = f.text_field :name
      
    %p.row
      = f.label :identifier
      = f.text_field :identifier
      
    %p.row
      = f.label :sex
      = f.select :sex, [:male, :female]
      
    %p.row
      = f.label :age
      = f.text_field :age
      
    %p.row
      = f.label :color, 'Colour'
      = f.text_field :color
      
    %p.row
      = f.label :breed
      = f.text_field :breed
      
  .photo
    = image_tag @animal.image.url(:medium)
    = f.label :image
    = f.file_field :image
      
  %p.description.clear
    = f.label :description   
    = f.text_area :description
      
  %p.clear 
    = f.submit 'Update'