<h1>Listing animals</h1>

<table>
  <tr>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%= image_tag animal.avatar.url(:icon) %></td>
    <td><%= link_to 'Show', [:admin, animal] %></td>
    <td><%= link_to 'Edit', edit_admin_animal_path(animal) %></td>
    <td><%= link_to 'Destroy', [:admin, animal], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New animal', new_admin_animal_path %>