%h1 Listing animals

%table
  %tr
    %th Animal
    %th Kind
    %th Status
    %th Carer invitations

  - @animals.each do |animal|
    %tr
      %td= animal_icon(animal)
      %td= animal.kind
      %td= animal.placement_status
      - if animal.placement_status == 'seeking_carer'
        %td= request_status(animal.current_placement)

%br

= link_to 'New animal', new_admin_animal_path