.animal
  .details{:style => 'float: left; padding: 30px'}
    %p
      %b= @animal.kind
    %p
      %b Name:
      = @animal.name
    %p
      %b Identifier:
      = @animal.identifier
  
  .photo{:style=>'padding: 30px'}
    = image_tag @animal.image.url(:medium)


- if @animal.current_placement?

  = render :partial => 'admin/placements/placement', :object => @animal.current_placement
      
    
%br
= link_to 'Edit', edit_admin_animal_path(@animal)
|
= link_to 'Back', admin_animals_path