.photo
  = image_tag @animal.image.url(:medium)
  
.details
  %h1= "#{@animal.name}"
  %p
    %b= @animal.kind
  %p
    %b ID:
    = @animal.identifier
  %p= render :partial => 'admin/shared/capabilities', :locals => { :o => @animal }


- if @animal.current_placement
  = render :partial => 'admin/placements/placement', :object => @animal.current_placement

- if ! @potential_carers.blank?
  %h2= "Potential Carers (#{@potential_carers.size})"
  - @potential_carers.each do |potential_carer|
    =object_listing potential_carer     
    
%br
%p.clear
  = link_to 'Edit', edit_admin_animal_path(@animal)
