.animal
  = image_tag @animal.image.url(:medium)
  .details
    %h1= "Name: #{@animal.name}"
    %p
      %b= @animal.kind
    %p
      %b Identifier:
      = @animal.identifier

- if @animal.current_placement
  = render :partial => 'admin/placements/placement', :object => @animal.current_placement
      
    
%br
= link_to 'Edit', edit_admin_animal_path(@animal)
|
= link_to 'Back', admin_animals_path
