%fieldset{:class => 'details'}
  %legend
    Carer Details
    %p{:class => 'row'}
      = f.label :first_name
      = f.text_field :first_name
    %p{:class => 'row'}
      = f.label :last_name
      = f.text_field :last_name
    
%fieldset{:class => 'address'}
  %legend
    Address
    %p{:class => 'row'}
      = f.label :address_1
      = f.text_field :address_1
    %p{:class => 'row'}
      = f.label :address_2
      = f.text_field :address_2
    %br{:class => 'clear'}
    %p{:class => 'row'}
      = f.label :suburb
      = f.text_field :suburb
    %p{:class => 'row'}
      = f.label :postcode
      = f.text_field :postcode

%fieldset{:class => 'contact'}
  %legend
    Contact Details
    %p{:class => 'row'}
      = f.label :mobile_phone
      = f.text_field :mobile_phone
    %p{:class => 'row'}
      = f.label :home_phone
      = f.text_field :home_phone
    %p{:class => 'row'}
      = f.label :work_phone
      = f.text_field :work_phone