%h1 Admin Dashboard

#quick_links
  %h2 Quick Links

  %ul
    %li= link_to 'Create new placement', new_admin_placement_path
    %li= link_to 'Add another animal', new_admin_animal_path


#searching
  - form_for(:search, @search, :url => admin_placements_path, :html => { :method => :get }) do |f|
    %fieldset
      %legend Search for something
      %p
        = f.label :kind
        = f.select :kind, Animal::KINDS

      %p
        = f.label :hours_at_home
        = f.text_field :hours_at_home

      %p
        = f.label :level_of_experience
        = f.select :level_of_experience, []

      = f.submit 'Search'
  

.recent
  %h2 Recent Animals
  = render :partial => 'admin/animals/animals_listings', :locals => { :animals => @animals }
  %p{:class => 'see_all'}
    = link_to 'See all animals', admin_animals_path

.recent
  %h2 Recent Carers
  = render :partial => 'admin/carers/carers', :locals => { :carers => @carers }
  %p{:class => 'see_all'}
    = link_to 'See all carers', admin_carers_path 

.recent
  %h2 Recent Placements
  %table
    %tr
      %th Animal
      %th Status
    - for placement in @placements    
      %tr.placement
        %td
        - if placement.animal
          = link_to((image_tag placement.animal.image.url(:icon)), edit_admin_placement_path(placement))
          =h placement.animal.identifier
  %p{:class => 'see_all'}
    = link_to "See all animals' placements", admin_animals_path
