- form_for([:admin, @carer], :html => { :multipart => true }) do |f|
  .details
    = f.error_messages

    %p.row
      = f.label :first_name   
      = f.text_field :first_name
  
    %p.row
      = f.label :last_name
      = f.text_field :last_name
  
    %p.row
      = f.label :mobile_phone
      = f.text_field :mobile_phone

    %p.row
      = f.label :email_address 
      = f.text_field :email_address

  .photo
    = image_tag @carer.image.url(:medium)
    %p.row
      = f.label :image
      = f.file_field :image
    
  %p.clear
    = f.submit 'Update'