.carer
  - form_for([:admin, @carer], :html => { :multipart => true }) do |f|
    .details
  
      = f.error_messages

      .row.clear
        = f.label :first_name   
        = f.text_field :first_name
    
      .row.clear
        = f.label :last_name
        = f.text_field :last_name
    
      .row.clear
        = f.label :mobile_phone
        = f.text_field :mobile_phone
 
      .row.clear
        = f.label :email_address 
        = f.text_field :email_address

    .photo{:style=>'padding: 30px'}
      = image_tag @carer.image.url(:medium)
      
      = f.label :image
      = f.file_field :image
      
    .row.clear 
      = f.submit 'Update'