%h1
  Editing carer
- form_for([:admin, @carer]) do |f|
  = f.error_messages
  = render :partial => 'carer', :locals => {:f => f}
  = f.submit "Update"

= link_to 'Show', [:admin, @carer]
|
= link_to 'Back', admin_carers_path
