%h1 Listing carers (#{@carers.total_entries} in total)

= will_paginate @carers, :class => 'apple_pagination'
= render :partial => 'carers'
= will_paginate @carers, :class => 'apple_pagination'

%br

= link_to 'New Carer', new_admin_carer_path