.carer
  = image_tag @carer.image.url(:medium)
  .details
    %h1= "#{@carer.name}"
    %p
      %b= @carer.email_address
    %p
      %b= @carer.mobile_phone
    %p= render :partial => 'admin/shared/capabilities', :locals => { :o => @carer }
    
%br
= link_to 'Edit', edit_admin_carer_path(@carer)