%h1
  Editing volunteer
- form_for([:admin, @volunteer]) do |f|
  = f.error_messages
  = render :partial => 'volunteer', :locals => {:f => f}
  = f.submit "Update"

= link_to 'Show', [:admin, @volunteer]
|
= link_to 'Back', admin_volunteers_path
