<h1>Editing Home Check</h1>

<% form_for([:admin, @home_check]) do |f| %>
  <%= f.error_messages %>

  <div class="row clear">
    <%= f.label :performed_by_id %>
    <%= f.collection_select :performed_by_id, User.all, :id, :name %>
  </div>
  <div class="row clear">
    <%= f.label :scheduled_at %>
    <%= f.datetime_select :scheduled_at %>
  </div>
  <div class="row clear">
    <label><%= f.check_box :completed %> Completed</label>
  </div>
  <div class="row clear">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="row clear">
    <%= f.submit 'Update' %>
  </div>
<% end %>
