%h3 Please log in:
- form_for @user_session, :url => user_session_path, :method => :post do |f|
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :password
    = f.password_field :password
  = f.submit "Login", :class => 'button'