<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Volunteers: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'master' %>
  <%= stylesheet_link_tag 'admin' %>
  <!--[if IE]> <%= stylesheet_link_tag 'ie' %><![endif]-->
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= Geokit::Geocoders::google %>"
  type="text/javascript"></script>
</head>
<body>

<div id="header">
  <%= image_tag '/images/lsah_logo.gif' %>
</div><!-- #header -->
<div id="admin_dashboard">
  <ul>
    <li><%= link_to "Volunteers", admin_volunteers_path %></li>
    <li><%= link_to 'Process an Application', pending_admin_volunteers_path %></li>
    <li><%= link_to 'Home Checks', admin_home_checks_path %></li>
    <li><a href="#">Place an animal</a></li>
    <li><%= link_to 'Log Out', logout_path %></li>
  </ul>
</div><!-- #admin_dashboard -->
<div id="content">
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <%= yield  %>
</div><!-- #content -->
</body>
</html>
