<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Volunteers: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
<!--[if gte IE 7]> 
  <style>
    legend {
      position: absolute;
      top: -.8em;
      left: .5em;
    }
    fieldset {
      position: relative;
      margin-top: 1em;
      padding: 20px;
    }
  </style>
<![endif]-->
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAC7LDoM1owmUzuDy0v9kzUBTsD2SUe23eQJWOpzD6T6CTR-38LhTBzQ48ZMrT3aAo1yLV_A_WfGpIMQ"
  type="text/javascript"></script>
</head>
<body>

<%= image_tag '/images/fun4paws_logo2.png' %> 
<p style="color: green"><%= flash[:notice] %></p>
<div class='clear'></div>

<%= yield  %>

</body>
</html>
