<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h page_title %></title>
  <%= stylesheet_link_tag "master", :cache => true %>
  <!--[if IE]> <%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= javascript_include_tag "jquery-1.3.2.min", "jquery-ui-1.7.2.custom.min", "application", :cache => true %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= Geokit::Geocoders::google %>"
  type="text/javascript"></script>
  <%= yield :head %>
</head>
<body id="<%=h page_id %>">
<div id="wrap">
<div id="header">
  <%= image_tag '/images/lsah_logo.gif' %>
</div>
<div id="content">
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end%>
  <%= yield  %>
</div>
</div><!-- #wrap -->
<p id="footer">&copy; copyright someone comes here</p>
</body>
</html>
